doctype 5
//if IE 7
  html(class="ie7 ie", lang="en")
//if IE 8
  html(class="ie8 ie", lang="en")
//if IE 9
  html(class="ie9 ie", lang="en")
// [if !IE ] <!
html(lang="en")
  // <![endif]

  head
    meta(http-equiv='X-UA-Compatible', content='chrome=1')

    title Team 4Mil

  body
    h1 Mobile
    p This is the mobile device client.