section(class='container-fluid')
  div(class='row-fluid')
    div(class='offset1 span5')
      p Copyright © 2013 Team 4Mil. All rights reserved.

    div(class='span5')
      a(class='pull-right badge-pattern img-polaroid', target='_blank', href='http://patternconsulting.com')
        img(class='logo', src='images/logos/pattern_218x51_desaturated.png')
