section(class='container-fluid')
  div(class='row-fluid')
    div(class='offset1 span8')
      p Copyright © 2013 Team 4Mil. All rights reserved.

    div(class='span2')
      a(class='pull-right badge-pattern img-polaroid', target='_blank', href='http://patternconsulting.com')
        img(class='logo', src='images/logos/pattern-logo_234x234_desaturated.png')
        br
        img(class='text', src='images/logos/pattern-text_172x42.png')
