nav(class='navbar navbar-inverse navbar-fixed-top')
  div(class='navbar-inner')
    div(class='container-fluid')
      div(class='row-fluid')
        div(class='offset1 span10')
          a(class='brand', href='#/about') Team 4Mil
          ul(class='nav')
            li(class='active')
              a(href='#/about') About
            li
              a(href='#/sponsors') Sponsors