doctype 5
html(lang='en')

  head
    meta(http-equiv='X-UA-Compatible', content='chrome=1')

    title Team 4Mil
    link(type='text/css', media='screen', rel='stylesheet', href='index.css')

    script(type='text/javascript', src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(type='text/javascript', data-main='index', src='../lib/require-2.1.2.js')

  body(ng-controller='Application')
    nav(class='navbar navbar-inverse navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container-fluid')
          div(class='row-fluid')
            div(class='offset1 span10')
              a(class='brand', href='#/about') Team 4Mil
              ul(class='nav')
                li(class='active')
                  a(href='#/about') About
                li
                  a(href='#/sponsors') Sponsors

    div(class='container-fluid')
      ng-view

      footer(class='row-fluid')
        div(class='span12')
          p Footer content.