@import 'lib/chinstrap';

@navbarMarginTop: 30px;
@navbarMarginRight: 20px;
@navbarMarginBottom: 20px;
@navbarMarginLeft: 20px;

@navbarHeight: 60px;

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

/* Cope with the fixed-position navigation bar. */
body {
  padding-top: @navbarHeight + @navbarMarginTop + @navbarMarginBottom + 20px;
}

body {
  background-image: url('images/backgrounds/team4mil-coin-3000x2000.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.min.htc');
}

.photo_img {
  .img-rounded;
}

.photo_left {
  .pull-left;
}

.photo_center {
  .center;
}

.photo_right {
  .pull-right;
}

.navbar {
  margin: @navbarMarginTop @navbarMarginRight @navbarMarginBottom @navbarMarginLeft;

  .brand {
    font-size: 25px;

    img {
      width: 100px;
      position: absolute;
      top: -20px;
    }
  }

  .nav {
    font-size: @baseFontSize + 4px;
  }
}

.navbar-fixed-top {
  .navbar-inner {
    .border-radius(@baseBorderRadius);
    .box-shadow(0 3px 6px rgba(0,0,0,.5));
  }
}

.navbar-inverse {
  .navbar-inner {
    background-image: none;
    #translucent > .background(@grayDarker, 0.75);
  }
}