@import 'lib/chinstrap';

@shadowDropStandard: 0 3px 6px rgba(0, 0, 0, .5);
@shadowDropSharp: 0 2px 1px rgba(0, 0, 0, 1);

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

/* Cope with the fixed-position navigation bar. */
body { //padding-top: @navbarHeight + @navbarMarginTop + @navbarMarginBottom + 20px;
}

.hero-about {
  background-image: url('images/backgrounds/team4mil-coin_3000x2000.jpeg');
  background-size: cover;
  background-position: center center; //background-attachment: fixed;
  background-repeat: no-repeat;
  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.min.htc');

  padding-top: 200px;
  padding-bottom: 100px;

  .hero-title-about {
    margin: auto @gridGutterWidth;
    font-size: @baseFontSize * 3; //margin: 200px @gridGutterWidth @gridGutterWidth @gridGutterWidth;
    color: white;
    text-shadow: @shadowDropSharp;
  }

  .hero-summary-about {
    margin: @gridGutterWidth;
    padding: @gridGutterWidth;
    font-size: @baseFontSize * 1.5;
    line-height: @baseLineHeight * 1.5;
    color: white;
    text-shadow: @shadowDropSharp;
    #translucent > .background(@black, .85);
    .border-radius(@baseBorderRadius);
  }
}

.hero-sponsors {
  background-image: url('images/backgrounds/team4mil-woundedwarriors_2048x1112.jpeg');
  background-size: cover;
  background-position: center center; //background-attachment: fixed;
  background-repeat: no-repeat;
  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.min.htc');

  padding-top: 150px;
  padding-bottom: 50px;

  .hero-title-sponsors {
    margin: auto @gridGutterWidth;
    font-size: @baseFontSize * 3; //margin: 200px @gridGutterWidth @gridGutterWidth @gridGutterWidth;
    color: white;
    text-shadow: @shadowDropSharp;
  }

  .hero-summary-sponsors {
    margin: @gridGutterWidth;
    padding: @gridGutterWidth;
    font-size: @baseFontSize * 1.5;
    line-height: @baseLineHeight * 1.5;
    color: white;
    text-shadow: @shadowDropSharp;
    #translucent > .background(@black, .85);
    .border-radius(@baseBorderRadius);
  }
}

.body-sponsors {
  background: @white;
}

.photo_img {
  .img-rounded;
}

.photo_left {
  .pull-left;
}

.photo_center {
  .center;
}

.photo_right {
  .pull-right;
}

// Navigation styles.

@navbarMarginTop: 30px;
@navbarMarginRight: 20px;
@navbarMarginBottom: 20px;
@navbarMarginLeft: 20px;
@navbarHeight: 60px;

.navbar {
  margin: @navbarMarginTop @navbarMarginRight @navbarMarginBottom @navbarMarginLeft;

  .brand {
    font-size: 25px;

    img {
      width: 100px;
      position: absolute;
      top: -20px;
    }
  }

  .nav {
    font-size: @baseFontSize + 4px;
  }
}

.navbar-fixed-top {
  .navbar-inner {
    .border-radius(@baseBorderRadius);
    .box-shadow(@shadowDropStandard);
  }
}

.navbar-inverse {
  .navbar-inner {
    background-image: none;
    #translucent > .background(@grayDarker, 0.75);
  }
}

// Well styles.
.well {
  #translucent > .background(@wellBackground, 0.95);
}

//.hero-about {
//  min-height: 150px;
//
//  background-image: url('images/heros/team4mil-woundedwarriors.jpeg');
//  background-size: cover;
//  background-position: center center;
//  background-repeat: no-repeat;
//  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.min.htc');
//
//  h1 {
//    color: @grayLighter;
//    text-shadow: black 0 3px 6px;
//  }
//}