div(class='container-fluid hero hero-sponsorship')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 Sponsorship
      ul(class='nav nav-tabs lead')
        li(ng-class='{active : "contributors" == view}')
          a(href='#/sponsorship?contributors') Contributors
        li(ng-class='{active : "opportunities" == view}')
          a(href='#/sponsorship?opportunities') Opportunities

div(class='container-fluid body-sponsorship', ng-show='"contributors" == view')
  div(class='row-fluid')

    div(class='offset1 span4')
      div(class='t4m-summary', ng-bind-html='content.summary')

    div(class='span6')
      div(ng-repeat='sponsor in content.sponsors')
        div(class='row-fluid')
          div(class='span8', style='background: none;')
            p
              span(class='lead') {{sponsor.name}}
              br
              a(ng-href='{{sponsor.location}}', target='_blank') {{sponsor.location}}
            p
              small(class='muted') {{sponsor.description}}
          div(class='span4')
            a(ng-href='{{sponsor.location}}', target='_blank')
              img(ng-src='{{sponsor.source}}')

        hr(ng-hide='$last')

div(class='container-fluid body-sponsorship', ng-show='"opportunities" == view')
  div(class='row-fluid')
    div(class='offset1 span10')
      include sponsorship/opportunities/summary.html

  div(class='row-fluid')
    div(class='span3')
      div(class='well')
        h3 Title Sponsor
        p(class='muted') $75,000
        p(class='lead') Official sponsor designation with prime logo placement.
        ul
          li Team uniforms
          li Prime website location
          li Team printed media
          li Vehicle signage
          li One 3 x 7 banner for all team events
          li Designated sponsor at DC area fundraising event
          li Joint news release
          li Photo opportunities with team for use in your marketing
          li Recognition on the Team’s Facebook presence
          li Recognition on Team Tweets along the race route

    div(class='span3')
      div(class='well')
        h3 Gold Sponsor
        p(class='muted') $10,000
        p(class='lead') Gold sponsor designation with secondary logo placement.
        ul
          li Team uniforms
          li Prime website location
          li Team printed media
          li Vehicle signage
          li One 3 x 7 banner for all team events
          li Designated sponsor at Phoenix area event
          li Joint news release
          li Photo opportunity with team for use in your marketing
          li Recognition on the Team’s Facebook presence
          li Recognition on Team Tweets along the race route

    div(class='span3')
      div(class='well')
        h3 Silver Sponsor
        p(class='muted') $5,000
        p(class='lead') Silver sponsor designation with logo placement.
        ul
          li Team uniforms
          li Prime website location
          li Team printed media
          li Vehicle signage
          li Sponsorship signage at special events, race start and finish
          li Joint news release
          li Weekly recognition on Team’s Facebook Presence
          li Recognition on Crew Tweets along race route

    div(class='span3')
      div(class='well')
        h3 Bronze Sponsor
        p(class='muted') $2,500
        p(class='lead') Bronze sponsor designation with logo placement.
        ul
          li Sponsor Page Website Link
          li Team printed media
          li Vehicle signage
          li Joint news release
          li Monthly recognition on Team’s Facebook Presence
          li Recognition on Crew Tweets along race route

  div(class='row-fluid')
    div(class='offset1 span10')
      p
        | These sponsorship levels are meant to start the conversation about ways to integrate our mission and your company mission into a mutually beneficial
        | opportunity. Let’s join together and build on our successful 2013 campaign to help honor and empower our military veterans.
