#body-trackers
  .t4m-trackers-guages
    t4m-trackers-completion
    t4m-trackers-speed

  .t4m-trackers-status
    .container-fluid
      .row-fluid
        select.offset9.span3(ng-model='settings.tracker', ng-options='tracker as tracker.name for tracker in trackers')
      .row-fluid
        .offset9.span3
          table.table.table-bordered.table-condensed
            tbody
              tr
                th Total
                td
                  span(ng-show='route.distance.miles') {{route.distance.miles|number}} mi.
              tr
                th Traveled
                td
                  span(ng-show='progress.traveled.miles') {{progress.traveled.miles|number}} mi.
              tr
                th Remaining
                td
                  span(ng-show='progress.remaining.miles') {{progress.remaining.miles|number}} mi.
              tr
                th ETA
                td
                  span(ng-show='progress.times.arrival') {{progress.times.arrival|date:'medium'}}

  t4m-tracker-map(ng-model='settings.tracker')

  .navbar.navbar-fixed-bottom
    .container-fluid
      .row-fluid.text-center
  img.spot-logo(src='images/logos/spot_3-color_789x445.png')