<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Team 4Mil <%= title %></title>

  </head>
  <body>
    <h1>Mobile</h1>
    This is the mobile client, with templates rendered with EJS.
  </body>
</html>