@import-once
'../lib/chinstrap'
;
@import-once
'variables'
;

body {

  & > footer {
    height: 100%;
    color: gray;

    & > section {
      padding-top: @gridGutterWidth;
      height: 100%;
      min-height: 100px;
      position: relative;
      .box-shadow(inset @shadowDropStandard);
      background: url('styles/bright_squares/bright_squares.png');

      .badge-pattern {
        & > img {
          width: 60px;
        }
      }

    }

  }

}