div(class='well t4m-sponsor-bronze', ng-click='toContact("wayne-dowd", "Interest in Bronze-level sponsorship.", "Please, tell me more!")')
  h3 Bronze Sponsor
  p(class='muted') $2,500
  p(class='lead') Bronze sponsor designation with logo placement.
  ul
    li Sponsor Page Website Link
    li Team printed media
    li Vehicle signage
    li Joint news release
    li Monthly recognition on Team’s Facebook Presence
    li Recognition on Crew Tweets along race route
