div(class='well')
  h3 Gold Sponsor
  p(class='muted') $10,000
  p(class='lead') Gold sponsor designation with secondary logo placement.
  ul
    li Team uniforms
    li Prime website location
    li Team printed media
    li Vehicle signage
    li One 3 x 7 banner for all team events
    li Designated sponsor at Phoenix area event
    li Joint news release
    li Photo opportunity with team for use in your marketing
    li Recognition on the Team’s Facebook presence
    li Recognition on Team Tweets along the race route