a(class='well t4m-sponsor-silver', ng-click='toContact("wayne-dowd", "Interest in Silver-level sponsorship.", "Please, tell me more!")')
  h3 Silver Sponsor
  p(class='muted') $5,000
  p(class='lead') Silver sponsor designation with logo placement.
  ul
    li Team uniforms
    li Prime website location
    li Team printed media
    li Vehicle signage
    li Sponsorship signage at special events, race start and finish
    li Joint news release
    li Weekly recognition on Team’s Facebook Presence
    li Recognition on Crew Tweets along race route
