<p class="lead t4m-summary">
  <strong>Team 4Mil needs your help to significantly grow our innovative cycling rehabilitation programs for Combat-Wounded Veterans.</strong>

  Making a significant charitable donation creates a visible partnership that honors our military men and women. Our expanded support base within military and
  cycling communities offers unique opportunities to create brand association with an outstanding organization that appreciates the personal nature of giving
  support to a cause. The 2013 <a href="http://raceacrossamerica.org"> Race Across America</a> event is just around the corner, and now is the time to start
  planning your custom sponsorship package to help us link your company message with the well-known mission of Team 4Mil.
</p>