a(class='well t4m-sponsor-title', href='#/contact?recipient=wayne-dowd&subject=Interest in Silver sponsorship.&body=Please, tell me more!')
  h3 Title Sponsor
  p(class='muted') $75,000
  p(class='lead') Official sponsor designation with prime logo placement.
  ul
    li Team uniforms
    li Prime website location
    li Team printed media
    li Vehicle signage
    li One 3 x 7 banner for all team events
    li Designated sponsor at DC area fundraising event
    li Joint news release
    li Photo opportunities with team for use in your marketing
    li Recognition on the Team’s Facebook presence
    li Recognition on Team Tweets along the race route
