section(class='container-fluid')
  div(class='row-fluid')
    div(class='offset1 span5')

      div(class='row-fluid')
        img(class='span2', src='images/logos/team4mil_200x200.png')
        div(class='span10')
          p
            | Copyright © 2013 Team 4Mil.
            br
            | All rights reserved.

    div(class='span5')
      
      a(class='pull-right badge-pattern img-polaroid', target='_blank', href='http://pattern.nu')
        img(class='logo', src='images/logos/pattern_218x51_desaturated.png')
