div(class='container-fluid hero-about')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-about') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span8')
      div(class='hero-summary-about', ng-bind-html='content.summary')
