div(class='container-fluid hero-contact')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-contact') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-contact', ng-bind-html='content.summary')

section(class='body-contact container-fluid ')
  div(class='row-fluid')
    div(class='offset1 span5')
      a(id='{{member.id}}', class='media thumbnail', ng-repeat='member in content.board.members')
        img(class='pull-left span3', ng-src='{{member.picture.location}}')
        h3 {{member.name}}
        h4 {{member.title}}
    div(class='span5', ng-controller='ContactMessage')
      form(name='messageForm')
        fieldset

          div(class='control-group')
            p(class='help-block lead') <strong>First</strong>, chose who you would like to contact.
            div(class='controls')
              label(class='radio', ng-repeat='recipient in recipients')
                input(type='radio', name='recipientRadio', value='{{recipient.id}}', ng-model='$parent.recipientId')
                span {{recipient.name}}

          div(class='control-group')
            p(class='help-block lead') <strong>Second</strong>, tell us a little about yourself.
            div(ng-show='messageForm.senderNameText.$invalid || messageForm.senderMailText.$invalid', class='help-block alert')
              ul(class='unstyled')
                li(ng-show='messageForm.senderNameText.$error.required') Your name is required.
                li(ng-show='messageForm.senderMailText.$error.required') Your e-mail address is required.
                li(ng-show='messageForm.senderMailText.$error.email') The provided e-mail address is invalid.
            div(class='controls')
              input(class='span6', type='text', name='senderNameText', ng-model='sender.name', placeholder='Your name.', required)
            div(class='controls')
              input(class='span6', type='email', name='senderMailText', ng-model='sender.mail', placeholder='Your e-mail address.', required)

          div(class='control-group')
            p(class='help-block lead') <strong>Third</strong>, leave your comments below.
            div(class='controls')
              input(class='span6', type='text', name='subjectText', ng-model='subject', placeholder='Message subject.')
            div(class='controls')
              textarea(class='span12', rows='10', name='bodyText', ng-model='body', placeholder='Your comments to Team 4Mil.')

          div(class='control-group')
            div(class='form-actions')
              button(type='button', class='btn', ng-click='reset()') Cancel
              button(type='submit', class='btn btn-primary pull-right', ng-click='send()', ng-disabled='messageForm.$invalid') Send

      div(id='modalStatus', class='modal fade', tabindex='-1')
        div(class='modal-header')
          h3 Contacting Team 4Mil
        div(class='modal-body')
          p(ng-show='status.pending') Sending your message to {{status.recipient.mail}}&hellip;
          p(ng-show='status.success')
            span(class='label label-success') Success!
            | &nbsp;Your message was sent to {{status.recipient.name}}!
          p(ng-show='status.error')
            span(class='label label-important') Error!
            | &nbsp;We're sorry, but there was a problem sending your message!
            | You can still reach Team 4Mil by writing to&nbsp;
            a(href='mailto:contact@team4mil.org') contact@team4mil.org
            | .
        div(class='modal-footer', ng-hide='status.pending')
          button(class='btn btn-primary', ng-click='closeStatus()') Close