div(class='container-fluid hero hero-contact')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-contact', ng-bind-html='content.summary')

section(class='body-contact container-fluid')
  div(class='row-fluid')

    div(class='offset1 span5')

      p(class='help-block')
        span(class='lead') <strong>First</strong>, chose who you would like to contact.
        br
        span(class='muted') You may optionally choose a specific recipient below.
        span(class='muted', ng-show='recipients[0].id == recipientId')
          | &nbsp;(You've not chosen a specific person, so anyone who's available will answer your message.)
        span(class='muted', ng-hide='recipients[0].id == recipientId')
          | &nbsp;(You've chosen {{recipient.name}} to receive your message, but you can still pick someone else.)

      a(id='{{member.id}}'
      , class='media thumbnail t4m-member'
      , ng-repeat='member in content.board.members'
      , ng-class='{selected:member.id == recipientId || recipients[0].id == recipientId}'
      , ng-click='selectRecipient(member.id)')
        img(class='pull-left span2', ng-src='{{member.picture.location}}')
        span(class='lead')
          strong {{member.name}}
        br
        span {{member.title}}

    div(class='span5')
      form(name='messageForm')

        p(class='help-block')
          span(class='lead') <strong>Second</strong>, tell us a little about yourself.
          br
          span(class='muted') Don't worry, we will <em>only</em> use this information to contact you.

        div(class='control-group', ng-class='{"warning":!sender.name}')
          div(class='controls')
            input(class='span6', type='text', name='senderNameText', ng-model='sender.name', placeholder='Your name.')
            span(class='help-inline', ng-hide='sender.name') Your name is helpful, but not required.

        div(class='control-group', ng-class='{"error":messageForm.senderMailText.$invalid}')
          div(class='controls')
            input(class='span6', type='email', name='senderMailText', ng-model='sender.mail', placeholder='Your e-mail address.', required)
            span(class='help-inline', ng-show='messageForm.senderMailText.$error.required') Your address is required.
            span(class='help-inline', ng-show='messageForm.senderMailText.$error.email') Please recheck your address.

        div(class='control-group')
          div(class='controls')
            p(class='help-block')
              span(class='lead') <strong>Third</strong>, leave your comments below.
              br
              span(class='muted') Once you're finished, click the “Send” button below.

        div(class='control-group')
          div(class='controls')
            input(class='span6', type='text', name='subjectText', ng-model='subject', placeholder='Message subject.')

        div(class='control-group')
          div(class='controls')
            textarea(class='span12', rows='10', name='bodyText', ng-model='body', placeholder='Your comments to Team 4Mil.')

        div(class='control-group')
          button(type='button', class='btn', ng-click='reset()') Reset
          button(type='submit', class='btn btn-primary pull-right', ng-click='send()', ng-disabled='messageForm.$invalid') Send

      div(id='modalStatus', class='modal fade', tabindex='-1')
        div(class='modal-header')
          h3 Contacting Team 4Mil
        div(class='modal-body')
          p(ng-show='status.pending') Sending your message to {{status.recipient.mail}}&hellip;
          p(ng-show='status.success')
            span(class='label label-success') Success!
            | &nbsp;Your message was sent to {{status.recipient.name}}!
          p(ng-show='status.error')
            span(class='label label-important') Error!
            | &nbsp;We're sorry, but there was a problem sending your message!
            | You can still reach Team 4Mil by writing to&nbsp;
            a(href='mailto:contact@team4mil.org') contact@team4mil.org
            | .
        div(class='modal-footer', ng-hide='status.pending')
          button(class='btn btn-primary', ng-click='closeStatus()') Close