div(class='container-fluid hero-contact')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-contact') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-contact', ng-bind-html='content.summary')

section(class='body-contact container-fluid ')
  div(class='row-fluid')
    div(class='offset1 span5')
      a(id='{{member.id}}', class='media thumbnail', ng-repeat='member in content.board.members')
        img(class='pull-left span3', ng-src='{{member.picture.location}}')
        h3 {{member.name}}
        h4 {{member.title}}
    div(class='span5', ng-controller='ContactMessage')
      form(name='messageForm')
        fieldset
          div(class='control-group')
            span(class='help-block lead') <strong>First</strong>, chose who you would like to contact.
            div(class='controls')
              label(class='radio')
                input(type='radio', name='recipientRadio', value='contact@team4il.org', ng-model='recipient.mail')
                em Anyone
              label(class='radio', ng-repeat='member in content.board.members')
                input(type='radio', name='recipientRadio', value='{{member.mail}}', ng-model='recipient.mail')
                span {{member.name}}
          div(class='control-group')
            span(class='help-block lead') <strong>Second</strong>, let us know how we can get back to you.
            span(ng-show='messageForm.senderMailText.$error.required', class='help-block alert') Your address is required.
            span(ng-show='messageForm.senderMailText.$error.email', class='help-block alert') The provided address is invalid.
            div(class='controls')
              input(class='span6', type='email', name='senderMailText', ng-model='sender.mail', placeholder='Your e-mail address.', required)
          div(class='control-group')
            span(class='help-block lead') <strong>Third</strong>, tell us your comments.
            div(class='controls')
              input(class='span6', type='text', name='subjectText', ng-model='subject', placeholder='Message subject.')
            div(class='controls')
              textarea(class='span12', rows='10', name='bodyText', ng-model='body', placeholder='Your comments to Team 4Mil.')
          div(class='control-group')
            div(class='form-actions')
              button(type='submit', class='btn btn-primary pull-right', ng-click='send()', xng-disabled='messageForm.$invalid') Send
      div
        div recipient.mail : {{recipient.mail}}
        div sender.mail : {{sender.mail}}
        div subject : {{subject}}
        div body : {{body}}
