div(class='container-fluid hero hero-donate')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 Donate

div(class='container-fluid body-donate')
  div(class='row-fluid')
    div(class='offset1 span5')
      p(class='help-block lead')
        strong Team 4Mil accepts online donations here.
        | &nbsp;Please write something that would make people give us money.

      form(name='donationForm')
        div(class='control-group')
          div(class='controls controls-row')
            input(class='span6'
            , type='text'
            , name='giverName'
            , ng-model='donation.donor.name'
            , placeholder="Card holder's full name."
            , required)

            input(class='span6'
            , type='email'
            , name='giverName'
            , ng-model='donation.donor.mail'
            , placeholder="Donor's e-mail address."
            , required)

        div(class='control-group')
          div(class='controls controls-row')
            input(class='span7 input-card-number'
            , type='text'
            , name='cardNumber'
            , ng-model='donation.card.number'
            , placeholder='Credit card number.'
            , required)

            div(class='span5')
              img(src='/images/logos/accepted-credit-cards.png', tooltip='All major credit cards accepted.')

          div(class='controls controls-row')
            select(class='span5 card-expiration-month'
            , name='cardExpMonth'
            , ng-model='donation.card.expiration.month'
            , required)
              option(ng-repeat='month in months', value='{{month.index}}') {{month.name}}

            input(class='span4 input-card-expiration-year'
            , type='number'
            , name='cardExpYear'
            , ng-model='donation.card.expiration.year'
            , placeholder='Expiration year.'
            , required)

            input(class='span3 input-card-verification-code'
            , type='text'
            , name='cardVC'
            , ng-model='donation.card.code'
            , placeholder='CVC.'
            , required)

        div(class='control-group')
          div(class='controls controls-row')
            div(class='span10')
              div(class='pull-right input-prepend input-append')
                span(class='add-on') $
                input(class='input-small input-amount'
                , name='amount'
                , type='number'
                , ng-model='donation.amount'
                , required)
                span(class='add-on') .00
            button(class='span2 btn btn-success', type='submit') Donate

      p
        code donation.donor.name : {{donation.donor.name}}
      p
        code donation.card.number : {{donation.card.number}}
      p
        code donation.card.expiration.month : {{donation.card.expiration.month}}
      p
        code donation.card.expiration.year : {{donation.card.expiration.year}}
      p
        code donation.card.code : {{donation.card.code}}
      p
        code donation.amount : {{donation.amount}}


    div(class='span5')
      p(class='help-block lead')
        strong You can also donate by mail.
        | &nbsp;Please make your cheque payable to “Team 4Mil,” and send it to the following address.

      p
        address(class='lead')
          | Team 4Mil
          br
          | c/o Wayne Dowd
          br
          | 4053 Brideghampton Lane
          br
          | Virginia Beach, VA  23455