div(class='container-fluid hero hero-donate')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 Donate

div(class='container-fluid body-donate')
  div(class='row-fluid')
    div(class='offset1 span10')
      p(class='lead')
        strong
          | Team 4Mil is a volunteer-staffed, 503(c) organization dedicated to
          | supporting combat-wounded veterans, and their families, on the road to
          | recovery through the sport of cycling.
        | &nbsp;Your donations go to the operational expenses of our wounded
        | warrior team and US Service-member teams in numerous cycling events.

  div(class='row-fluid')
    div(class='offset1 span5')
      h3 Make an Online Donation
      p(class='help-block')
        | The information you provide here will be handled securely, and
        | processed by a trusted credit card processing agency.

      form(name='form')
        p(class='help-block')
          span(class='lead')
            strong First
            | , your name and e-mail address.
          br
          span(class='muted') Don't worry, we will <em>never</em> share your personal information.

        div(class='alert', ng-show='form.donorName.$invalid || form.donorMail.$invalid')
          | We need your full name and a valid e-mail address.

        div(class='alert alert-success', ng-hide='form.donorName.$invalid || form.donorMail.$invalid')
          | Your full name and e-mail address look good!

        div(class='row-fluid')
          div(class='control-group span6', ng-class='{"error":form.donorName.$invalid}')
            div(class='controls')
              input(class='span12'
              , type='text'
              , name='donorName'
              , ng-model='donation.donor.name'
              , placeholder="Card holder's full name."
              , required)

          div(class='control-group span6', ng-class='{"error":form.donorMail.$invalid}')
            div(class='controls')
              input(class='span12 '
              , ng-class='{"error":form.donorMail.$invalid}'
              , type='email'
              , name='donorMail'
              , ng-model='donation.donor.mail'
              , placeholder="Donor's e-mail address."
              , required)

        p(class='help-block')
          span(class='lead')
            strong Second
            | , payment method.
          br
          span(class='muted') We accept all major credit and debit cards.

        div(class='row-fluid')
          div(class='control-group span7')
            div(class='controls')
              input(class='span12 input-card-number'
              , type='text'
              , name='cardNumber'
              , ng-model='donation.card.number'
              , placeholder='Credit card number.'
              , required)

          div(class='span5')
            img(src='/images/logos/accepted-credit-cards.png')

        div(class='row-fluid')
          div(class='control-group span5')
            div(class='controls')
              select(class='span12 card-expiration-month'
              , name='cardExpMonth'
              , ng-model='donation.card.expiration.month'
              , required)
                option(value='1') January
                option(value='2') February
                option(value='3') March
                option(value='4') April
                option(value='5') May
                option(value='6') June
                option(value='7') July
                option(value='8') August
                option(value='9') September
                option(value='10') October
                option(value='11') November
                option(value='12') December

          div(class='control-group span3')
            div(class='controls')
              input(class='span12 input-card-expiration-year'
              , type='number'
              , name='cardExpYear'
              , ng-model='donation.card.expiration.year'
              , placeholder='Expiration year.'
              , required)

          div(class='control-group span4')
            div(class='controls')
              input(class='span12 input-card-verification-code'
              , type='text'
              , name='cardVC'
              , ng-model='donation.card.code'
              , placeholder='CVC.'
              , tooltip='The verification or security code is usually located on the back of your credit or debit card.'
              , tooltip-placement='right'
              , required)

        p(class='help-block')
          span(class='lead')
            strong Third
            | , choose an amount.
          br
          span(class='muted')
            | Any amount helps! When you've entered a dollar amount you're
            | comfortable with, please click the “Donate” button below.
            | You'll have a chance to review the donation.

        div(class='row-fluid')
          button(class='span2 btn', type='button', ng-click='resetDonation()', tooltip='This will clear all information from the donation form.') Reset
          button(class='span2 btn', type='button', ng-click='populate()', tooltip='This button is only for testing purposes.') Fill
          div(class='control-group span6')
            div(class='controls')
              div(class='pull-right input-prepend input-append')
                span(class='add-on') $
                input(class='input-small input-amount'
                , name='amount'
                , type='number'
                , ng-model='donation.amount'
                , required)
                span(class='add-on') .00
          button(class='span2 btn btn-success'
          , type='submit'
          , ng-click='startDonation()'
          , tooltip="We'll review your donation before charging your account.")
            | Donate

      p
        code donation.donor.name : {{donation.donor.name}}
      p
        code donation.card.number : {{donation.card.number}}
      p
        code donation.card.expiration.month : {{donation.card.expiration.month}}
      p
        code donation.card.expiration.year : {{donation.card.expiration.year}}
      p
        code donation.card.code : {{donation.card.code}}
      p
        code donation.amount : {{donation.amount}}

    div(class='span5')
      h3 Mail-in Your Donation

      p(class='help-block muted')
        | If you prefer, you can send your contribution to us by mail. Please
        | make checks or money orders payable to “Team 4Mil,” and send them to
        | the following address.

      blockquote(class='lead')
        | Team 4Mil
        br
        | c/o Wayne Dowd
        br
        | 4053 Bridgehampton Lane
        br
        | Virginia Beach, VA  23455

div(id='modalStatus', class='modal fade', tabindex='-1')
  div(class='modal-header')
    h3 Donate
  div(class='modal-body')
    p(ng-show='status.pending') You are about to donate money to Team 4Mil. Are you sure?
    p(ng-show='status.success')
      span(class='label label-success') Success!
      | &nbsp;You've successfully donated to Team 4Mil. We'll send you a confirmation e-mail shortly.
    p(ng-show='status.error')
      span(class='label label-important') Error!
      | &nbsp;We're sorry, but there was a problem processing your donation.
      | Please visit the&nbsp;
      a(href='#/contact') Contact page (click here)
      | &nbsp;and tell us about the problem.
  div(class='modal-footer')
    button(class='btn', ng-click='cancelDonation()') Cancel
    button(class='btn btn-success', ng-click='confirmDonation()') Donate