div(class='container-fluid hero hero-donate')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 Donate

div(class='container-fluid body-donate')
  div(class='row-fluid')
    div(class='offset1 span5')
      p Donation form.

    div(class='span5')
      p Details for donating by mail.