div(class='container-fluid hero-mission')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-mission') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-mission', ng-bind-html='content.summary')
