div(class='container-fluid hero-teams')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-teams') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-teams', ng-bind-html='content.summary')

div(class='container-fluid body-sponsors')
  div(class='row-fluid')
    div(class='offset1 span5')
      h2 {{content.teams[0].title}}
      p {{content.teams[0].summary}}

      div(class='media', ng-repeat='member in content.teams[0].members')
        a(class='pull-left span4', href='#')
          img(class='media-object img-rounded', ng-src='{{member.source}}')
        div(class='media-body')
          h3(class='media-heading') {{member.name}}
          //div(ng-bind-html='member.biography')

    div(class='span5')
      h2 {{content.teams[1].title}}
      p {{content.teams[1].summary}}

      div(class='media', ng-repeat='member in content.teams[1].members')
        a(class='pull-left span4', href='#')
          img(class='media-object img-rounded', ng-src='{{member.source}}')
        div(class='media-body')
          h3(class='media-heading') {{member.name}}
          //div(ng-bind-html='member.biography')

div(id='modalBiography', class='modal hide fade', tabindex='-1')
  div(class='modal-header')
    button(type='button', class='close') ×
    h3 Modal Header
  div(class='modal-body')
    p One fine body.
  div(class='modal-footer')
      button(class='btn') Close