header(class='container-fluid hero hero-teams')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 {{content.title}}
        pc-scroller(watch='member', offset="-$('body > header > nav').outerHeight(true)", cancel='!member')
      ul(class='nav nav-tabs lead')
        li(ng-repeat='team in content.teams', ng-class='{ "active" : $parent.team.id == team.id }')
          a(ng-href='#/teams/{{team.id}}') {{team.title}}

section(class='container-fluid body-teams')
  div(class='row-fluid')
    div(class='offset1 span5')

      a(id='{{member.id}}'
      , class='media thumbnail t4m-member'
      , ng-repeat='member in team.members'
      , ng-class='{ selected : member == $parent.member || !$parent.member }'
      , ng-href='#/teams/{{team.id}}?member={{member.id}}')
        img(class='pull-left span4', ng-src='{{member.picture.location}}')
        span(class='lead')
          strong {{member.name}}

    div(class='span5', ng-hide='member')
      h3 {{team.title}}
      p(class='lead') {{team.summary}}
      p(class='lead help-block')
        strong To learn more about a rider
        | &nbsp;please click their name or picture from the list to the left.

    div(class='span5', ng-show='member')
      h3 {{member.name}}
        div(class='btn-group pull-right')
          a(class='btn btn-large', ng-href='#/teams/{{team.id}}?member={{getPrevious().id}}', title='Go to {{getPrevious().name}}.')
            i(class='icon-arrow-left')
          a(class='btn btn-large', ng-href='#/teams/{{team.id}}?member={{getNext().id}}', title='Go to {{getNext().name}}.')
            i(class='icon-arrow-right')
          a(class='btn btn-large', ng-href='#/teams/{{team.id}}', title='See all riders.')
            i(class='icon-circle-blank')
      div(ng-bind-html='member.biography')