div(class='container-fluid hero-teams')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-teams') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-teams')
        p
          em Coming soon&hellip;
