div(class='container-fluid hero-teams')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1(class='hero-title-teams') {{content.title}}
  div(class='row-fluid')
    div(class='offset1 span10')
      div(class='hero-summary-teams', ng-bind-html='content.summary')

div(class='container-fluid body-sponsors')
  div(class='row-fluid')
    div(class='offset1 span10')
      p Team bio columns go here&hellip;