div(class='container-fluid hero hero-teams')
  div(class='row-fluid')
    div(class='offset1 span10')
      h1 {{content.title}}
      ul(class='nav nav-tabs lead')
        li(ng-repeat='team in content.teams', ng-class='{ "active" : $parent.team.id == team.id }')
          a(ng-href='#/teams/{{team.id}}') {{team.title}}

section(class='container-fluid body-teams')
  div(class='row-fluid')
    div(class='offset1 span5')

      a(id='{{member.id}}'
      , class='media thumbnail t4m-member'
      , ng-repeat='member in team.members'
      , ng-class='{ selected : member == $parent.member || !$parent.member }'
      , ng-href='#/teams/{{team.id}}?member={{member.id}}')
        img(class='pull-left span4', ng-src='{{member.picture.location}}')
        span(class='lead')
          strong {{member.name}}

    div(class='span5') {{member.id}}

//
  div(class='container-fluid body-sponsors')
    div(class='row-fluid')
      div(class='offset1 span10')
        div(class='lead', ng-bind-html='content.summary')

    div(class='row-fluid')
      div(class='offset1 span5')
        h2 {{content.teams[0].title}}
        p {{content.teams[0].summary}}

        div(class='row-fluid', ng-repeat='members in toRows(content.teams[0].members, 3)')
          div(class='thumbnails')
            a(class='thumbnail span4', ng-repeat='member in members', ng-href='#/teams?id={{member.id}}')
              img(class='', ng-src='{{member.source}}')
              h4 {{member.name}}

      div(class='span5')
        h2 {{content.teams[1].title}}
        p {{content.teams[1].summary}}

        div(class='row-fluid', ng-repeat='members in toRows(content.teams[1].members, 3)')
          div(class='thumbnails')
            a(class='thumbnail span4', ng-repeat='member in members', ng-href='#/teams?id={{member.id}}')
              img(class='', ng-src='{{member.source}}')
              h4 {{member.name}}

  div(id='modalBiography', class='modal fade', tabindex='-1')
    div(class='modal-header')
      h3 {{focused.name}}
  div(class='modal-body', ng-bind-html='focused.biography')
  div(class='modal-footer')
    button(class='btn', ng-click='focused = {}') Close