@import '../vendor/bootstrap/less/bootstrap';

header {
  .navbar {
    .transition(all .5s ease-in-out);

    margin: @navbarMarginTop @navbarMarginRight @navbarMarginBottom @navbarMarginLeft;

    .brand {
      .transition(all .5s ease-in-out);

      margin-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        height: 40px;
      }
    }

    //    .container-fluid {
    //      margin-left: -@navbarMarginLeft;
    //      margin-right: -@navbarMarginRight;
    //    }

    ul.nav {
      //      .transition(all .5s ease-in-out);

      font-size: @baseFontSize + 4px;

      li.active,
      li.active:hover {
        .transition(all .5s ease-in-out);

        a {
          .transition(color .75s ease-in-out);
          //.transition(text-shadow .25s ease-in-out);

          //.border-radius(@baseBorderRadius);
          //background-color: @white;
        }
      }
    }

    .navbar-inner {
      .transition(all .5s ease-in-out);

      .border-radius(@baseBorderRadius);
      .box-shadow(@shadowDropStandard);

      background-position: -150px -75px;
      background-repeat: no-repeat;
    }

  }

  .navbar.navbar-inverse {
    //.transition(all .5s ease-in-out);

    .brand {
      margin-left: 40px;
    }

    ul.nav {
      li {
        a {
          text-shadow: @shadowDropSharp;
        }
      }

      li.active,
      li.active:hover {
        a {
          #translucent > .background(@black, 0.25);
        }
      }
    }

    .navbar-inner {
      //.transition(all .5s ease-in-out);

      background-image: url("images/backgrounds/USA-flag_isolated_500x335.png");
      #translucent > .background(@grayDarker, 0.85);
    }
  }
}

@media (max-width: 640px) {
  header {
    .navbar {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;

      .brand {
        display: block;
        float: none;
      }

      .navbar-inner {
        .border-radius(0);
        .box-shadow(none);
      }

      .nav {
        display: block;
        li {
          float: none;
        }
      }
    }
  }
}
