@import-once
'../lib/chinstrap'
;
@import-once
'variables'
;

html.ie8 .hero-mission {
  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.htc');
}

.hero-mission {
  background-image: url('images/backgrounds/team4mil-coin_3000x2000.jpeg');
  background-size: cover;
  background-position: center center; //background-attachment: fixed;
  background-repeat: no-repeat;

  padding-top: 200px;
  padding-bottom: 150px;

  h1 {
    color: white;
  }
}

.body-mission {
  background: @white;
  padding-top: @gridGutterWidth;
  padding-bottom: @gridGutterWidth;
}