@import-once
'../lib/chinstrap'
;
@import-once
'variables'
;

html.ie8 .hero-sponsorship {
  -ms-behavior: url('lib/background-size-polyfill-gh-pages/backgroundsize.htc');
}

.hero-sponsorship {
  background-image: url('images/backgrounds/woundedwarriors-raam-finish_1022x681.jpeg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  h1 {
    color: @white;
    margin-top: 400px;
    margin-bottom: @gridGutterWidth;
  }
}

.body-sponsorship {
  background: @white;
  padding-top: @gridGutterWidth;
  padding-bottom: @gridGutterWidth;

  .t4m-summary {
  /* From Bootstrap type.less, blockquote, p. */
    #font > .shorthand(16px,300,@baseLineHeight * 1.25);
  }

  .t4m-sponsor-title {
  /* http://99colors.net/name/blue-gray */
    @baseColor: #6699CC;
    @transparentColor: fade(@baseColor, 20%);
    @startColor: @transparentColor;
    @midColor: lighten(@transparentColor, 50%);
    @endColor: darken(@transparentColor, 10%);
    #gradient > .vertical-three-colors(@startColor, @midColor, @colorStop: 25%, @endColor);
    border-color: @baseColor;
  }

  .t4m-sponsor-gold {
  /* http://99colors.net/name/gold. */
    @baseColor: gold;
    @transparentColor: fade(@baseColor, 20%);
    @startColor: @transparentColor;
    @midColor: lighten(@transparentColor, 50%);
    @endColor: darken(@transparentColor, 10%);
    #gradient > .vertical-three-colors(@startColor, @midColor, @colorStop: 25%, @endColor);
    border-color: @baseColor;
  }

  .t4m-sponsor-silver {
    @baseColor: silver;
    @transparentColor: fade(@baseColor, 20%);
    @startColor: @transparentColor;
    @midColor: lighten(@transparentColor, 50%);
    @endColor: darken(@transparentColor, 10%);
    #gradient > .vertical-three-colors(@startColor, @midColor, @colorStop: 25%, @endColor);
    border-color: @baseColor;
  }

  .t4m-sponsor-bronze {
  /*  http://99colors.net/name/bronze. */
    @baseColor: #CD7F32;
    @transparentColor: fade(@baseColor, 20%);
    @startColor: @transparentColor;
    @midColor: lighten(@transparentColor, 50%);
    @endColor: darken(@transparentColor, 10%);
    #gradient > .vertical-three-colors(@startColor, @midColor, @colorStop: 25%, @endColor);
    border-color: @baseColor;
  }
}