@import '../vendor/bootstrap/less/bootstrap';

#body-trackers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img.spot-logo {
    margin-bottom: @gridGutterWidth;
  }
}
